mainmenu "Radar Simplificado Configuration"

source "Kconfig.zephyr"

menu "My Project Options"

config RADAR_SENSOR_DISTANCE_MM
    int "Distância entre os sensores dada em milímetros."
    default 2000

config RADAR_SPEED_LIMIT_KMH
    int "Limite da via em Km por hora."
    default 60

config RADAR_CAMERA_FAILURE_RATE_PERCENT
    int "Porcentagem de chance da câmera simular uma falha e retornar uma placa inválida."
    default 0
    range 0 100

config NET_SAMPLE_SNTP_SERVER_PORT
    int "Port of SNPT server"
    default 123 

config NET_SAMPLE_SNTP_SERVER_TIMEOUT_MS
    int "Timeout of SNTP server in ms"
    default 5000

config SERVER_HOST
    string "Cloud server host"
    default "10.0.2.2"
    
config SERVER_PORT
    int "Cloud server port"
    default 8000
config SERVER_URL
    string "Cloud server url to send infractions"
    default "/notify-infraction"



endmenu